.v-pagination {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.v-pagination--right {
  justify-content: flex-end;
}

.v-pagination--center {
  justify-content: center;
}

.v-pagination {
  &.v-pagination--disabled {
    a, select {
      color: #999 !important;
    }

    &.v-pagination--border a {
      background-color: #fafafa;

      &:hover {
        background-color: #fafafa;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      list-style: none;
      display: flex;

      &.v-pagination__info a, &.v-pagination__list a {
        cursor: default;
        color: var(--vwa-c-text-2);
      }

      a {
        padding: 0.3rem 0.6rem;
        text-decoration: none;
        line-height: 1.3;
        font-size: 14px;
        margin: 0;
        outline: 0;
        color: var(--vwa-c-text-2);
        border-radius: 0.25rem;
        display: inline-flex;
        align-items: center;
      }

      &:not(.active):not(.disabled):not(.v-pagination__list):not(.v-pagination__info
      ):not(.v-pagination__slot) a:hover {
        background-color: #fafafa;
      }

      &.active a {
        background-color: #eee;
        color: #aaa;
      }

      &.disabled a {
        color: #999 !important;
        cursor: default;
      }

      select {
        width: auto !important;
        font-size: 12px;
        padding: 1px 5px;
        outline: 0;
        text-align: center;
        margin: 0 0 0 5px;
        border: 1px solid #ccc;
        color: var(--vwa-c-text-2);
        border-radius: 0.3rem;
      }
    }
  }

  &.v-pagination--border ul {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;

    li {
      &:not(:first-child) a {
        margin-left: -1px;
      }

      a {
        border: 1px solid #dee2e6;
        border-radius: 0;
      }

      &:first-child > a {
        border-bottom-left-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
      }

      &:last-child > a {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }

      &.active a {
        color: #999;
        background-color: #eee;
      }
    }
  }
}


.v-pagination {
  align-items: center;
  .mobile &, .tablet & {
    flex-direction: column;
  }
}
