@import "./vars.css";
/* // @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

:root {
  /* // font-family: 'Roboto', sans-serif;
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  // line-height: 1.5;
  // font-weight: 400;

  // color-scheme: light dark;
  // color: #213547;
  // background-color: #ffffff;

  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%; */
}

/* @media screen and (min-width: 960px) {
  html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
} */


*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  scrollbar-gutter: stable both-edges;
  &:has(body.mobile) {
    scrollbar-gutter: unset;
  }
  /* -webkit-text-size-adjust: 100%; */
  /* overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%)); */
  /* scrollbar-gutter: stable both-edges; */
}

html.dark {
  color-scheme: dark;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 24px;
  font-family: var(--bbl-font-family-base);
  font-size: var(--bbl-font-size);
  font-weight: 400;
  color: var(--bbl-c-text-1);
  background-color: var(--bbl-c-bg);
  direction: ltr;
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* width: var(--bbl-layout-max-width); */
  max-width: var(--bbl-layout-max-width);
  margin: 0 auto;
  
}

#app {
  width: 100%;
}

a {
  /* color: inherit; */
  /* text-decoration: inherit; */
  transition: color .25s;
  text-decoration: underline;
  color: var(--bbl-c-text-2);
  &:hover {
    color: var(--bbl-c-text-1);
  }
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}


button,
input,
optgroup,
select,
textarea {
  border: 1px solid var(--bbl-c-border);
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  background-image: none;
}

button:enabled,
[role='button']:enabled {
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 1px dotted;
  outline: 4px auto -webkit-focus-ring-color;
}

button:focus:not(:focus-visible) {
  outline: none !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input, textarea {
  background-color: transparent;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--bbl-c-text-3);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--bbl-c-text-3);
}

input::placeholder,
textarea::placeholder {
  color: var(--bbl-c-text-3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
select {
  -webkit-appearance: none;
}
